@page "/"
<style>
    .carousel-item {
        height: 32rem;
        color: white;
    }

    .container {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 50px;
    }
</style>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class=""></li>
        <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        <li data-target="#myCarousel" data-slide-to="2" class="active"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item">
            <img src="https://images.pexels.com/photos/1579739/pexels-photo-1579739.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
                aria-hidden="true" height="100%" width="100%" style="object-fit: cover;" <div class="container">
            <div class="carousel-caption text-left">
                <h1>Reciption halls</h1>
                <p>
                    We Introduce you the best Comfartable halls to do your meetings
                    No addtional Costs and Quiet for more foucsing
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item">
        <!--Completed-->
        <img src="https://images.pexels.com/photos/5371569/pexels-photo-5371569.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            aria-hidden="true" width="100%" height="100%" style="object-fit: cover;">
        <div class="container">
            <div class="carousel-caption">
                <h1>Room Service</h1>
                <p>
                    All The Delicious Food and Drinks front and On your room
                    You Just need to ask on it
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
        </div>
    </div>
    <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/4761352/pexels-photo-4761352.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            aria-hidden="true" width="100%" height="100%" style="object-fit: cover;">
        <div class="container">
            <div class="carousel-caption">
                <h1>Gyms</h1>
                <p>
                    We Provide our Sport halls with most modern Equipment
                    and Elite Coaches
                </p>
                <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
        </div>
    </div>
</div>
<a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</a>
<a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</a>
</div>
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">20 Years of Hotel Managment
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-3">
        <!--<svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500"
            height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa"
                dy=".3em">500x500</text>
        </svg>-->
        <!--<div class="decription-image"></div>-->
        <img src="D:\AllProjects\BlazorHotel\BlazorHotel\wwwroot\images\service.jpg" height="400" width="450" class="description-image">
    </div>
</div>