@page "/rooms"
@using Microsoft.AspNetCore.Components.Web
@using BlazorHotel.Models
@using BlazorHotel.Services

<div class="row">
    @foreach (var room in hotelRoomService.GetRooms())
    {
        <div class="card" @onclick="(e=> SelectRoom(room.id))">
            <div class="card-image" style="background-image: url('@room.img');">
            </div>
            <div class="card-text">
                <span class="date">@DateTime.Now.ToString("MM-dd-yyyy")</span>
                <h2>@room.title</h2>
                <p>@room.description</p>
                ub
            </div>
            <div class="card-stats">
                <div class="stat">
                    <div class="value">4<sup>m</sup></div>
                    <div class="type">read</div>
                </div>
                <div class="stat border">
                    <div class="value">5123</div>
                    <div class="type">views</div>
                </div>
                <div class="stat">
                    <div class="value">32</div>
                    <div class="type">comments</div>
                </div>
            </div>
        </div>
    }
</div>
@code {
    public HotelRoom room = new HotelRoom();
    HotelRoomService hotelRoomService;
    void SelectRoom(string roomid)
    {
        IList<HotelRoom> rooms = hotelRoomService.GetRooms();
        room = rooms.Where(x => x.id == roomid).FirstOrDefault();
    }
}
